<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>YagnaMahotsav</title>
    @*<!-- Bootstrap core CSS -->
    <link href="~/Content/template/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/template/css/bootstrap-multiselect.min.css" rel="stylesheet" />
    <link href="~/Content/template/fonts/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/template/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/template/plugin/datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/template/plugin/ui/jquery-ui.min.css" rel="stylesheet" />
    <!-- Custom styling plus plugins -->
    <link href="~/Content/template/css/custom.css" rel="stylesheet" />
    <link href="~/Content/template/css/main.css" rel="stylesheet" />
    <!-- Chosen css -->
    <link href="~/Content/template/plugin/chosen/chosen.css" rel="stylesheet" />
    <link href="~/Content/template/plugin/chosen/select.css" rel="stylesheet" />*@


    @*<script src="~/Content/template/js/jquery.min.js"></script>*@

</head>


<body class="nav-md">
    <div class="container body">

        <div class="main_container">
            <div class="se-pre-con"></div>
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        @*<a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span></span></a>*@
                        <a href="#" class="site_title"><span>YAGNA-MAHOTSAV</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="~/Content/template/img/profile.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Pramukh</h2>
                        </div>
                    </div>
                    <!-- /menu prile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Dashboard</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Configuration <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>
                                            <a href="@Url.RouteUrl("CityHome")"><i class="fa fa-table"></i> Manage City</a>
                                        </li>
                                        <li>
                                            <a href="@Url.RouteUrl("MandalHome")"><i class="fa fa-table"></i> Manage Mandal</a>
                                        </li>
                                        <li>
                                            <a href="@Url.RouteUrl("SevaGradeHome")"><i class="fa fa-table"></i> Manage SevaGrade</a>
                                        </li>
                                        <li>
                                            <a href="@Url.RouteUrl("SevaType")"><i class="fa fa-table"></i> Manage SevaType</a>
                                        </li>
                                    </ul>
                                </li>


                                <li>
                                    <a href="@Url.RouteUrl("Yagna")">Add Yajman</a>
                                </li>
                                <li>
                                    <a href="@Url.RouteUrl("Refferal")">Add Referral</a>
                                </li>


                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Report <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>
                                            <a href="@Url.RouteUrl("YajmanList")">YajmanList</a>
                                        </li>
                                        <li>
                                            <a href="@Url.RouteUrl("ReferralSevaList")">Referral Seva</a>
                                        </li>
                                        <li>
                                            <a href="@Url.RouteUrl("CityWiseSummary")">City Wise Summary</a>
                                        </li>
                                        <li>
                                            <a href="@Url.RouteUrl("MandalWiseSummary")">Mandal Wise Summary</a>
                                        </li>
                                        <li>
                                            <a href="@Url.RouteUrl("Summary")">Overall Summary</a>
                                        </li>
                                        
                                    </ul>
                                </li>

                                <li>
                                    <a href="@Url.RouteUrl("Logout")"><i class="fa fa-table"></i> Logout</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="~/Content/template/img/profile.png" alt="">Pramukh
                                    <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">

                                    <li>
                                        <a href="@Url.RouteUrl("Logout")"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()

                <!-- footer content -->
                <footer>
                    <div class="">
                        <p class="pull-right">

                            <span class="lead"> <i class="fa fa-paw"></i> Yagna Mahotsav v1.0</span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
            <!-- /page content -->
        </div>

    </div>
    <script type="text/javascript">
        $(window).load(function () {

            $(".se-pre-con").fadeOut("slow");

            $('.se-pre-con').hide().ajaxStart(function () {
                $(this).show();  // show Loading Div
            }).ajaxStop(function () {
                $(this).hide(); // hide loading div
            });
        });


    </script>
    @*<script src="~/Content/template/js/jquery-2.1.1.min.js"></script>
    <script src="~/Content/template/js/jquery-ui-1.9.2.min.js"></script>

    <script src="~/Content/template/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/Content/template/plugin/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/template/plugin/ui/jquery-ui.min.js"></script>
    <!-- bootstrap progress js -->
    <script src="~/Content/template/plugin/progressbar/bootstrap-progressbar.min.js"></script>

    <script src="~/Content/template/js/custom.js"></script>
    <script src="~/Content/template/plugin/validator/jquery.validate.min.js"></script>
    <script src="~/Content/template/js/common.js"></script>

    <script src="~/Content/template/plugin/chosen/chosen.jquery.js"></script>
    <script src="~/Content/template/js/bootstrap-multiselect.min.js"></script>*@
</body>
</html>
