@model SevaGradeDetailModel
@using PMM.Web.Models.Yagna;
@using PMM.Core;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>
                MANAGE SEVAGRADE
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginRouteForm("ManageSevaGrade", FormMethod.Post, new { @id = "gradeForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(t => t.Id)
                <div class="x_panel">

                    <div class="x_content">
                        <div class="col-md-12 pt10 ">
                            <span class="section">
                                Add | Update Seva Grade Detail
                            </span>

                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12 pt10">

                            <label for="Grade">Grade</label>
                            @Html.TextBoxFor(t => t.Grade, new { @class = "form-control", placeholder = CommonHelper.ValMsgTxtForSevaGrade, required = "required", @maxlength = 2 })
                            @Html.ValidationMessageFor(t => t.Grade)

                        </div>


                        <div class="col-md-12 pb10">
                            <div class="col-md-1 pt10 pr0">
                                <input type="submit" value="Save" class="btn btn-success" />
                            </div>
                            <div class="col-md-1 pt10 pl0 pr0"><input type="reset" value="Reset" class="btn btn-info" /></div>
                            <div class="col-md-1 pt10 pl0 pr0">
                                <a href="@Url.RouteUrl("SevaGradeHome")">
                                    <input type="button" value="Cancel" class="btn btn-danger" />
                                </a>
                            </div>
                            <div class="col-md-9 pt10"></div>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>

</div>
